spring:
  application:
    name: "file-attachment"
  profiles:
    group:
      "prod": "prod, default"
      "dev": "dev, default"
---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
  datasource:
    initialization-mode: always
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:itsmv
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-admin-password: itsmv
  devtools:
    restart:
      enabled: true
logging:
  level:
    web: debug
---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    initialization-mode: always
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.0.11:3306/itsmv?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: P@ssw0rd
logging:
  pattern:
    console: "%clr(%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(---){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
---
spring:
  devtools:
    livereload:
      enabled: true
  config:
    activate:
      on-profile: default
  jpa:
    show-sql: true
    open-in-view: true
    hibernate:
      use-new-id-generator-mappings: true
logging:
  pattern:
    console: "%clr(%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
server:
  compression:
    enabled: true
  port: 8080
  servlet:
    context-path: /
    session:
      timeout: 14400
    encoding:
      charset: UTF-8
      enabled: true
      force: true
management:
  endpoints:
    web:
      base-path: /manage
      exposure:
        include:
          - metrics
          - health