<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doms.backup">
	<select id="getNow" resultType="string">
		SELECT
			date_format(now(), '%m/%d/%Y')
	</select>

	<select id="getBackupList" parameterType="com.doms.api.dto.BackupSearch" resultType="com.doms.api.dto.BackupDTO">
		SELECT
			WORKFLOW_JOB_ID,
			MAX(GROUP_NAME) AS GROUP_NAME,
			MAX(CLIENT_NAME) AS CLIENT_NAME,
			MAX(ACTION_NAME) AS ACTION_NAME,
			MAX(WORKFLOW_START_TIME) AS WORKFLOW_START_TIME,
			MAX(WORKFLOW_END_TIME) AS WORKFLOW_END_TIME,
			MAX(WORKFLOW_STATUS) AS WORKFLOW_STATUS,
			(MAX(WORKFLOW_END_TIME) - MAX(WORKFLOW_START_TIME)) AS TERM,
			TO_CHAR ((SUM(SAVE_SET_SIZE::FLOAT)/ 1024 / 1024 / 1024),'FM999999990.00') AS SAVE_SET_SIZE,
			MAX(LEVEL) AS BACKUP_LEVEL,
			COUNT(SAVE_SET_NAME) AS SAVE_SET_NAME_CNT
		FROM
			PUBLIC.GST_WORKFLOW_VIEW GWV
		WHERE
			TO_CHAR(WORKFLOW_START_TIME, 'YYYYMMDDHH24') <![CDATA[ >= ]]> CONCAT(TO_CHAR(#{workflowStartDate}::DATE - interval '1 day', 'YYYYMMDD'), '18')
			AND TO_CHAR(WORKFLOW_START_TIME, 'YYYYMMDDHH24') <![CDATA[ <= ]]> CONCAT(TO_CHAR(#{workflowEndDate}::DATE, 'YYYYMMDD'), '11')
		GROUP BY
			WORKFLOW_JOB_ID
		ORDER BY
			GROUP_NAME, WORKFLOW_START_TIME
	</select>

	<select id="getBackupListFull" parameterType="com.doms.api.dto.BackupSearch" resultType="com.doms.api.dto.BackupDTO">
		SELECT
			CLIENT_NAME,
			POLICY_NAME,
			GROUP_NAME,
			SAVE_SET_NAME,
			TO_CHAR((SAVE_SET_SIZE::FLOAT/ 1024 / 1024 / 1024),'FM999999990.00') AS SAVE_SET_SIZE
		FROM
			PUBLIC.GST_WORKFLOW_VIEW GWV
		WHERE
			(LEVEL = 'full' OR LEVEL IS null)
			AND STATUS = 'succeeded'
			AND TO_CHAR(WORKFLOW_START_TIME, 'YYYYMMDDHH24') <![CDATA[ >= ]]> CONCAT(TO_CHAR(#{workflowStartDate}::DATE - interval '1 day', 'YYYYMMDD'), '18')
			AND TO_CHAR(WORKFLOW_START_TIME, 'YYYYMMDDHH24') <![CDATA[ <= ]]> CONCAT(TO_CHAR(#{workflowEndDate}::DATE, 'YYYYMMDD'), '11')
	</select>

	<select id="getSaveSetNameList" parameterType="com.doms.api.dto.BackupSearch" resultType="com.doms.api.dto.BackupDTO">
		SELECT
			SAVE_SET_NAME,
			TO_CHAR((SAVE_SET_SIZE::FLOAT/ 1024 / 1024 / 1024),'FM999999990.00') AS SAVE_SET_SIZE
		FROM
			PUBLIC.GST_WORKFLOW_VIEW GWV
		WHERE
			WORKFLOW_JOB_ID = #{workflowJobId}
	</select>

	<select id="getLocationList" parameterType="com.doms.api.dto.BackupSearch" resultType="com.doms.api.dto.BackupDTO">
			SELECT
				*
			FROM
				NMC_LOCATION
	</select>

	<select id="getBackupChart" parameterType="com.doms.api.dto.BackupSearch" resultType="com.doms.api.dto.BackupChartDTO">
		SELECT
			*
		FROM
			NMC_CHART NC
		WHERE
			SUBSTRING(NMC_CHART_DATE , 1, 4) = CONVERT(CHAR(4),GETDATE(),112)
			AND NL_CD = #{nlCd}
	</select>

	<select id="getBackupChartThisMonth" parameterType="com.doms.api.dto.BackupSearch" resultType="com.doms.api.dto.BackupChartDTO">
		DECLARE @var_date varchar(10) = CONVERT(CHAR(6), GETDATE(), 112)

		DECLARE @db_name varchar(10)
		DECLARE @ptl_client varchar(100)
		declare @location varchar(10)

		set @location = #{nlCd}

		if(@location = 'S')
		begin
			SET @db_name = 'NMC'
			SET @ptl_client = 'seoulfs.torayamk.com'
		end
		else if(@location = 'G1')
		BEGIN
			SET @db_name = 'NMC_'  + @location
			SET @ptl_client = 'tmp'
		end
		else if(@location = 'G1T')
		BEGIN
			SET @db_name = 'NMC_'  + @location
			SET @ptl_client = 'gumi1-fs01.torayamk.com'
		end
		else if(@location = 'G3')
		BEGIN
			SET @db_name = 'NMC_'  + @location
			SET @ptl_client = 'k1-fs-op'
		end
		else if(@location = 'G4')
		BEGIN
			SET @db_name = 'NMC_'  + @location
			SET @ptl_client = 'k3-fs-op.torayamk.com'
		end
		else if(@location = 'GS')
		BEGIN
			SET @db_name = 'NMC_'  + @location
			SET @ptl_client = 'gunsanfs.torayamk.com'
		end

		DECLARE @query VARCHAR(8000)
		set @query = '
				select ('''+@var_date+''') as nmc_chart_date, T.*, (select max(nc_seq)+1 from NMC_CHART) as nc_seq, '''+@location+''' as nl_cd
				from openquery('+@db_name+',
				''
						select
							(
								select COUNT(*)
								from
								(
									select
										client_name
									from
										gst_workflow_view gwv
									where
										 client_name not in ('''''+@ptl_client+''''', ''''s-sap-prd'''', ''''s-hubsap-op'''',''''k3-sedisk-op'''')
										 and to_char(workflow_start_time, ''''YYYYMM'''') = '''''+@var_date+'''''
									group by client_name
								) T
							) as vtl_client_cnt,
							(
								select
									to_char((sum(save_set_size::float)/ 1024 / 1024 / 1024),''''FM999999990.00'''')::float as save_set_size_sum
								from
									gst_workflow_view gwv
								where
									level = ''''full'''' and client_name not in ('''''+@ptl_client+''''', ''''s-sap-prd'''', ''''s-hubsap-op'''',''''k3-sedisk-op'''')
									and to_char(workflow_start_time, ''''YYYYMM'''') = '''''+@var_date+'''''
									and workflow_status= ''''succeeded''''
							) as vtl_full_sum,
							(
								select
									to_char((sum(save_set_size::float)/ 1024 / 1024 / 1024),''''FM999999990.00'''')::float as save_set_size_sum
								from
									gst_workflow_view gwv
								where
									level = ''''incr'''' and client_name not in ('''''+@ptl_client+''''', ''''s-sap-prd'''', ''''s-hubsap-op'''',''''k3-sedisk-op'''')
									and to_char(workflow_start_time, ''''YYYYMM'''') = '''''+@var_date+'''''and workflow_status= ''''succeeded''''
							) as vtl_incr_sum,
							(
								select COUNT(*)
								from
								(
									select
										client_name
									from
										gst_workflow_view gwv
									where
										 client_name = '''''+@ptl_client+'''''
										 and extract(month from workflow_start_time) = extract(month from current_date - interval ''''1 month'''')
									group by client_name
								) T
							) as ptl_client_cnt,
							(
								select
									to_char((sum(save_set_size::float)/ 1024 / 1024 / 1024),''''FM999999990.00'''')::float as save_set_size_sum
								from
									gst_workflow_view gwv
								where
									 level = ''''full'''' and client_name = '''''+@ptl_client+'''''
									 and to_char(workflow_start_time, ''''YYYYMM'''') = '''''+@var_date+'''''and workflow_status= ''''succeeded''''
							) as ptl_full_sum,
							(
								select
									to_char((sum(save_set_size::float)/ 1024 / 1024 / 1024),''''FM999999990.00'''')::float as save_set_size_sum
								from
									gst_workflow_view gwv
								where
									 level = ''''incr'''' and client_name = '''''+@ptl_client+'''''
									 and to_char(workflow_start_time, ''''YYYYMM'''') = '''''+@var_date+'''''and workflow_status= ''''succeeded''''
							) as ptl_incr_sum,
							(
								select COUNT(*)
								from
								(
									select
										client_name
									from
										gst_workflow_view gwv
									where
										 client_name in (''''s-sap-prd'''', ''''s-hubsap-op'''',''''k3-sedisk-op'''')
										 and extract(month from workflow_start_time) = extract(month from current_date - interval ''''1 month'''')
									group by client_name
								) T
							) as lto_client_cnt,
							(
								select
									to_char((sum(save_set_size::float)/ 1024 / 1024 / 1024),''''FM999999990.00'''')::float as save_set_size_sum
								from
									gst_workflow_view gwv
								where
									 level = ''''full'''' and client_name in (''''s-sap-prd'''', ''''s-hubsap-op'''',''''k3-sedisk-op'''')
									 and to_char(workflow_start_time, ''''YYYYMM'''') = '''''+@var_date+'''''and workflow_status= ''''succeeded''''
							) as lto_full_sum,
							(
								select
									to_char((sum(save_set_size::float)/ 1024 / 1024 / 1024),''''FM999999990.00'''')::float as save_set_size_sum
								from
									gst_workflow_view gwv
								where
									 level = ''''incr'''' and client_name in (''''s-sap-prd'''', ''''s-hubsap-op'''',''''k3-sedisk-op'''')
									 and to_char(workflow_start_time, ''''YYYYMM'''') = '''''+@var_date+'''''and workflow_status= ''''succeeded''''
							) as lto_incr_sum
				''
		) T'

		EXEC (@query)
	</select>
</mapper>