<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doms.di">
	<select id="getDiCount" parameterType="com.doms.api.dto.DiDTO" resultType="int">
		SELECT
			count(*)
		FROM
			di_mst
		WHERE
			1=1
			<if test='diDate != ""'>
				AND DI_DATE = #{diDate}
			</if>
	</select>

	<select id="getMnYn" parameterType="String" resultType="int">
		SELECT
			COUNT(DI_START_TIME)
		FROM
			DI_MST
		WHERE
			DI_DATE = #{diDate}
	</select>

	<select id="getAftnYn" parameterType="String" resultType="int">
		SELECT
			COUNT(DI_START_TIME2)
		FROM
			DI_MST
		WHERE
			DI_DATE = #{diDate}
	</select>

	<select id="getDiList" parameterType="com.doms.api.dto.DiSearch" resultType="com.doms.api.dto.DiDTO">
		SELECT
			dm.DI_DATE,
			dm.DI_START_TIME,
			dm.DI_END_TIME,
			dm.DI_INSPECTOR,
			IFNULL(dm.DI_IS_ERROR, 'N') AS DI_IS_ERROR,
			dm.DI_COMMENT,
			dm.DI_START_TIME2,
			dm.DI_END_TIME2,
			dm.DI_INSPECTOR2,
			IFNULL(dm.DI_IS_ERROR2, 'N') AS DI_IS_ERROR2,
			dm.DI_COMMENT2,
			date_format(REG_DATE, '%Y-%m%-%d %H:%i') as REG_DATE,
			dm.REG_USER,
			date_format(MOD_DATE, '%Y-%m%-%d %H:%i') as MOD_DATE,
			dm.MOD_USER,
			(SELECT COUNT(*) FROM DI_ERRORS de WHERE de.DI_DATE = dm.DI_DATE) as DIE_CNT
		FROM
			DI_MST dm
		WHERE
			1 = 1
			AND YEAR(dm.DI_DATE) = YEAR (NOW())
	</select>

	<select id="getDieList" resultType="com.doms.api.dto.DieDTO">
		SELECT
			*
		FROM
			DI_ERRORS de
		WHERE
			1 = 1
			AND YEAR(de.DI_DATE) = YEAR (NOW())
	</select>

	<insert id="insertDi" parameterType="com.doms.api.dto.DiDTO">
		INSERT INTO
			DI_MST
			(
				DI_DATE,
				<if test='diStartTime != ""'>
					DI_START_TIME,
					DI_END_TIME,
					DI_INSPECTOR,
					DI_IS_ERROR,
					DI_COMMENT,
				</if>
				<if test='diStartTime2 != ""'>
					DI_START_TIME2,
					DI_END_TIME2,
					DI_INSPECTOR2,
					DI_IS_ERROR2,
					DI_COMMENT2,
				</if>
				REG_USER
			)
		VALUES
			(
				#{diDate},
				<if test='diStartTime != ""'>
					#{diStartTime},
					#{diEndTime},
					#{diInspector},
					#{diIsError},
					#{diComment},
				</if>
				<if test='diStartTime2 != ""'>
					#{diStartTime2},
					#{diEndTime2},
					#{diInspector2},
					#{diIsError2},
					#{diComment2},
				</if>
				#{regUser}
			)
	</insert>

	<update id="updateDi" parameterType="com.doms.api.dto.DiDTO">
		UPDATE
			DI_MST
		SET
			<if test='diStartTime != ""'>
				DI_START_TIME = #{diStartTime},
				DI_END_TIME = #{diEndTime},
				DI_INSPECTOR = #{diInspector},
				DI_IS_ERROR = #{diIsError},
				DI_COMMENT = #{diComment},
			</if>
			<if test='diStartTime2 != ""'>
				DI_START_TIME2 = #{diStartTime2},
				DI_END_TIME2 = #{diEndTime2},
				DI_INSPECTOR2 = #{diInspector2},
				DI_IS_ERROR2 = #{diIsError2},
				DI_COMMENT2 = #{diComment2},
			</if>
			MOD_DATE = NOW(),
			MOD_USER = #{regUser}
		WHERE
			DI_DATE = #{diDate}
	</update>

	<insert id="insertDie" parameterType="com.doms.api.dto.DieDTO">
		INSERT INTO
			DI_ERRORS
			(
				DI_DATE,
				CI_NO,
				DIE_COMMENT,
				DIE_REG_DATE,
				DIE_REG_USER
			)
		VALUES
			(
				#{diDate},
				#{ciNo},
				#{dieComment},
				NOW(),
				#{dieRegUser}
			)
	</insert>

	<delete id="deleteDie" parameterType="com.doms.api.dto.DieDTO">
		DELETE FROM
			DI_ERRORS
		WHERE
			DI_DATE = #{diDate}
	</delete>
</mapper>