<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doms.server">

	<select id="getServer" parameterType="com.doms.api.dto.ServerSearch" resultType="com.doms.api.dto.ServerDTO">
		SELECT
			T1.*
			,(SELECT CD_NM FROM ITSM.C_BCD_DTL CCM WHERE CCM.GRP_CD = 'CIM015' AND CCM.CD = T1.OPR_GBN) AS OPR_NM
			,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.MNG_EMPL) AS MNG_EMPL_NM
			,(SELECT CBD.CD_NM FROM ITSM.C_BCD_DTL CBD WHERE CBD.CD = T1.MNG_DEPT AND CBD.GRP_CD = 'ADM001') AS MNG_DEPT_NM
			,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.USE_EMPL) AS USE_EMPL_NM
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'IP0' AND ROWNUM =1) AS SERVER_IP
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'DBMS' AND ROWNUM =1) AS SERVER_DBMS
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'PDSK' AND ROWNUM =1) AS SERVER_PDSK
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'MAC1' AND ROWNUM =1) AS SERVER_MAC_ADDR
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'OSVR' AND ROWNUM =1) AS SERVER_OS
			,(SELECT DECODE(MNG_VALUE, 'O', '운영', 'D', '개발', 'S', '유휴') FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'C001' AND ROWNUM =1) AS SERVER_USAGE
			,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.MAKER_CD AND STATUS = 'Y' AND ROWNUM =1) AS SERVER_MAKER_NM
			,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.BUY_PARTNER AND STATUS = 'Y' AND ROWNUM =1) AS BUY_PARTNER_NM
			,(SELECT CD.DEPTNAME FROM ITSM.C_DEPT CD WHERE CD.DEPT = T1.BUY_DEPT AND CD.STATUSCODE = 'Y') AS BUY_DEPT_NM
			,CASE CI_ITEM
				when 'VANT' then 'NT'
				when 'VAUX' then 'Linux'
				when 'TS10' then 'Storage'
				when 'VNNT' then 'NT'
				when 'VNUX' then 'Linux'
			 	else '-'
			 END as SERVER_OS_LINE
		FROM
		(
			SELECT
				CCM.*
				,CL.PLANT_NM AS LOCATION_NM
				,CL.LOC_NM AS LOCATION_DETAIL
				,CL.PLANT
			FROM
				ITSM.CIM_CI_MST CCM
				JOIN ITSM.CIM_LOCATION CL ON CCM.LOCATION = CL.LOCATION AND CL.STATUS = 'Y' AND CCM.COM_CD = 'T100'
			WHERE
				CI_NO = #{ciNo}
		) T1
	</select>

	<select id="getServerList" parameterType="com.doms.api.dto.ServerSearch" resultType="com.doms.api.dto.ServerDTO">
		SELECT
			T1.*
			,(SELECT CD_NM FROM ITSM.C_BCD_DTL CCM WHERE CCM.GRP_CD = 'CIM015' AND CCM.CD = T1.OPR_GBN) AS OPR_NM
			,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.MNG_EMPL) AS MNG_EMPL_NM
			,(SELECT CBD.CD_NM FROM ITSM.C_BCD_DTL CBD WHERE CBD.CD = T1.MNG_DEPT AND CBD.GRP_CD = 'ADM001') AS MNG_DEPT_NM
			,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.USE_EMPL) AS USE_EMPL_NM
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'IP0' AND ROWNUM =1) AS SERVER_IP
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'DBMS' AND ROWNUM =1) AS SERVER_DBMS
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'PDSK' AND ROWNUM =1) AS SERVER_PDSK
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'MAC1' AND ROWNUM =1) AS SERVER_MAC_ADDR
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'OSVR' AND ROWNUM =1) AS SERVER_OS
			,(SELECT DECODE(MNG_VALUE, 'O', '운영', 'D', '개발', 'S', '유휴') FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'C001' AND ROWNUM =1) AS SERVER_USAGE
			,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.MAKER_CD AND STATUS = 'Y' AND ROWNUM =1) AS SERVER_MAKER_NM
			,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.BUY_PARTNER AND STATUS = 'Y' AND ROWNUM =1) AS BUY_PARTNER_NM
			,(SELECT CD.DEPTNAME FROM ITSM.C_DEPT CD WHERE CD.DEPT = T1.BUY_DEPT AND CD.STATUSCODE = 'Y') AS BUY_DEPT_NM
			,CASE CI_ITEM
				when 'VANT' then 'NT'
				when 'VAUX' then 'Linux'
				when 'TS10' then 'Storage'
				when 'VNNT' then 'NT'
				when 'VNUX' then 'Linux'
			 	else '-'
			 END as SERVER_OS_LINE
		FROM
		(
			SELECT
				CCM.*
				,CL.PLANT_NM AS LOCATION_NM
				,CL.LOC_NM AS LOCATION_DETAIL
				,CL.PLANT
			FROM
				ITSM.CIM_CI_MST CCM
				JOIN ITSM.CIM_LOCATION CL ON CCM.LOCATION = CL.LOCATION AND CL.STATUS = 'Y' AND CCM.COM_CD = 'T100'
			WHERE
				<!-- 장비구분 : 정보팀 NT, 정보팀 LINUX, 스토리지, 인프라NT, 인프라 LINUX -->
		 		CCM.CI_ITEM IN ('VANT','VAUX','TS10','VNNT','VNUX')
				<!-- 장소 : 본사, 구미 -->
				AND SUBSTR(CCM.LOCATION , 0, 1) IN ('S','G', 'K')
				<!-- 운용상태 : 지급사용, 대여사용, 보관, 폐기대상 -->
				AND CCM.OPR_GBN IN ('A01' ,'A02','B01','C01')
				AND CCM.CI_FIRST_CHAR <![CDATA[ <> ]]> '*'
				<!-- VM L2 Switch 추가, AIX Backup Switch 추가, VM SAN Switch 추가 -->
				OR CCM.CI_NO IN ('XTAK201312010' ,'XTAK201312011','XTAK201312107','XTAK201312108', 'XTCK201003003', 'XTCK201003004', 'XTAK201312003', 'XTAK201312004')
		) T1
		<choose>
			<when test='orderBy == "SL01"'>
				ORDER BY LOCATION DESC, NICKNAME
			</when>
			<otherwise>
				ORDER BY LOCATION_NM DESC, NICKNAME ASC
			</otherwise>
		</choose>
	</select>

	<select id="getServerListAll" parameterType="com.doms.api.dto.ServerSearch" resultType="com.doms.api.dto.ServerDTO">
		SELECT
			T1.*
			,(SELECT CD_NM FROM ITSM.C_BCD_DTL CCM WHERE CCM.GRP_CD = 'CIM015' AND CCM.CD = T1.OPR_GBN) AS OPR_NM
			,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.MNG_EMPL) AS MNG_EMPL_NM
			,(SELECT CBD.CD_NM FROM ITSM.C_BCD_DTL CBD WHERE CBD.CD = T1.MNG_DEPT AND CBD.GRP_CD = 'ADM001') AS MNG_DEPT_NM
			,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.USE_EMPL) AS USE_EMPL_NM
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'IP0' AND ROWNUM =1) AS SERVER_IP
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'DBMS' AND ROWNUM =1) AS SERVER_DBMS
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'PDSK' AND ROWNUM =1) AS SERVER_PDSK
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'MAC1' AND ROWNUM =1) AS SERVER_MAC_ADDR
			,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'OSVR' AND ROWNUM =1) AS SERVER_OS
			,(SELECT DECODE(MNG_VALUE, 'O', '운영', 'D', '개발', 'S', '유휴') FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'C001' AND ROWNUM =1) AS SERVER_USAGE
			,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.MAKER_CD AND STATUS = 'Y' AND ROWNUM =1) AS SERVER_MAKER_NM
			,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.BUY_PARTNER AND STATUS = 'Y' AND ROWNUM =1) AS BUY_PARTNER_NM
			,(SELECT CD.DEPTNAME FROM ITSM.C_DEPT CD WHERE CD.DEPT = T1.BUY_DEPT AND CD.STATUSCODE = 'Y') AS BUY_DEPT_NM
			,CASE CI_ITEM
				when 'VANT' then 'NT'
				when 'VAUX' then 'Linux'
				when 'TS10' then 'Storage'
				when 'VNNT' then 'NT'
				when 'VNUX' then 'Linux'
			 	else '-'
			 END as SERVER_OS_LINE
		FROM
			(
				SELECT
					CCM.*
					,CL.PLANT_NM AS LOCATION_NM
					,CL.LOC_NM AS LOCATION_DETAIL
					,CL.PLANT
				FROM
					ITSM.CIM_CI_MST CCM
					JOIN ITSM.CIM_LOCATION CL ON CCM.LOCATION = CL.LOCATION AND CL.STATUS = 'Y' AND CCM.COM_CD = 'T100'
				WHERE
					<!-- 장비구분 : 정보팀 NT, 정보팀 LINUX, 스토리지, 인프라NT, 인프라 LINUX -->
			 		(CCM.CI_ITEM IN ('VANT','VAUX','TS10','VNNT','VNUX') OR CCM.CI_NO IN ('XTAK201312010' ,'XTAK201312011','XTAK201312107','XTAK201312108', 'XTCK201003003', 'XTCK201003004', 'XTAK201312003', 'XTAK201312004'))
					<!-- 장소 : 본사, 구미 -->
					AND SUBSTR(CCM.LOCATION , 0, 1) IN ('S','G', 'K')
					AND CCM.CI_FIRST_CHAR <![CDATA[ <> ]]> '*'
					<choose>
						<when test='plant != null'>
							AND CCM.OPR_GBN IN ('A01' ,'A02','B01','C01')
							AND PLANT like #{plant} || '%'
						</when>
						<when test='div == "add"'>
							AND CCM.OPR_GBN IN ('A01' ,'A02','B01','C01')
							AND EXTRACT( YEAR FROM CCM.INS_DATE ) = EXTRACT( YEAR FROM SYSDATE )
							AND EXTRACT( MONTH FROM CCM.INS_DATE ) =  #{monthParam }
							AND OPR_GBN NOT IN ( 'D01', 'D02', 'D03' )
						</when>
						<when test='div == "remove"'>
							AND SCRAP_DATE IS NOT NULL
							AND LENGTH(CCM.SCRAP_DATE) <![CDATA[ >= ]]> 6
							AND EXTRACT (YEAR FROM TO_DATE(CCM.SCRAP_DATE, 'yyyymmdd')) =  EXTRACT( YEAR FROM SYSDATE )
							AND EXTRACT (MONTH FROM TO_DATE(CCM.SCRAP_DATE, 'yyyymmdd')) = #{monthParam }
							AND OPR_GBN IN ( 'D01', 'D02', 'D03' )
						</when>
					</choose>
			) T1
		<choose>
			<when test='div == "add"'>
				ORDER BY CI_NO ASC
			</when>
			<when test='div == "remove"'>
				ORDER BY CI_NO ASC
			</when>
		</choose>
	</select>


	<select id="getServerChange" parameterType="com.doms.api.dto.ServerSearch" resultType="com.doms.api.dto.ServerChangeDTO">
		SELECT
			*
		FROM
			ITSM.CIM_CHG_INFO
		WHERE
			CI_NO = #{ciNo}
		ORDER BY
			CHG_DATE DESC
	</select>


	<select id="getServerChartThisMonth" parameterType="com.doms.api.dto.ServerSearch" resultType="com.doms.api.dto.ServerChartDTO">
		SELECT
			T1.*,
			(T1.TOTAL_CNT - T1.NT_CNT - T1.LINUX_CNT - T1.STG_CNT) AS UDF_CNT
		FROM (
			select
				PLANT,
				case plant
					when 'S0' then '본사'
					when 'G2' then '1공장'
					when 'G6' then '2공장'
					when 'G1' then '3공장'
					when 'G3' then '4공장'
					when 'K1' then '군산'
				end as LOCATION_NM ,
				count(*) as TOTAL_CNT,
				sum(case OPR_NM when '지급사용' then 1 else 0 end) as USE_CNT,
				sum(case OPR_NM when '폐기대상' then 1 else 0 end) as DST_CNT,
				sum(case OPR_NM when '보관' then 1 else 0 end) as KEEP_CNT,
				sum(case SERVER_USAGE when '운영' then 1 else 0 end) as OP_CNT,
				sum(case SERVER_USAGE when '개발' then 1 else 0 end) as DEV_CNT,
				sum(case SERVER_USAGE when '유휴' then 1 else 0 end) as IDLE_CNT,
				sum(case when SERVER_USAGE is null then 1 else 0 end) as ETC_CNT,
				sum(case SERVER_OS_LINE when 'NT' then 1 else 0 end) as NT_CNT,
				sum(case SERVER_OS_LINE when 'LINUX' then 1 else 0 end) as LINUX_CNT,
				sum(case SERVER_OS_LINE when 'Storage' then 1 else 0 end) as STG_CNT
			from
				(
					SELECT
						T1.*
						,(SELECT CD_NM FROM ITSM.C_BCD_DTL CCM WHERE CCM.GRP_CD = 'CIM015' AND CCM.CD = T1.OPR_GBN) AS OPR_NM
						,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.MNG_EMPL) AS MNG_EMPL_NM
						,(SELECT CBD.CD_NM FROM ITSM.C_BCD_DTL CBD WHERE CBD.CD = T1.MNG_DEPT AND CBD.GRP_CD = 'ADM001') AS MNG_DEPT_NM
						,(SELECT MB.MBR_NAME FROM ITSM.C_IT_MEMBER MB WHERE MB.MBR_ID = T1.USE_EMPL) AS USE_EMPL_NM
						,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'IP0' AND ROWNUM =1) AS SERVER_IP
						,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'DBMS' AND ROWNUM =1) AS SERVER_DBMS
						,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'PDSK' AND ROWNUM =1) AS SERVER_PDSK
						,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'MAC1' AND ROWNUM =1) AS SERVER_MAC_ADDR
						,(SELECT MNG_VALUE FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'OSVR' AND ROWNUM =1) AS SERVER_OS
						,(SELECT DECODE(MNG_VALUE, 'O', '운영', 'D', '개발', 'S', '유휴') FROM ITSM.CIM_DTL_MNG WHERE CI_NO = T1.CI_NO AND MNG_CODE = 'C001' AND ROWNUM =1) AS SERVER_USAGE
						,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.MAKER_CD AND STATUS = 'Y' AND ROWNUM =1) AS SERVER_MAKER_NM
						,(SELECT PARTNER_NM FROM ITSM.CIM_PARTNER WHERE PARTNER_NO = T1.BUY_PARTNER AND STATUS = 'Y' AND ROWNUM =1) AS BUY_PARTNER_NM
						,(SELECT CD.DEPTNAME FROM ITSM.C_DEPT CD WHERE CD.DEPT = T1.BUY_DEPT AND CD.STATUSCODE = 'Y') AS BUY_DEPT_NM
						,CASE CI_ITEM
							when 'VANT' then 'NT'
							when 'VAUX' then 'Linux'
							when 'TS10' then 'Storage'
							when 'VNNT' then 'NT'
							when 'VNUX' then 'Linux'
						 	else '-'
						 END as SERVER_OS_LINE
					FROM
					(
						SELECT
							CCM.*
							,CL.PLANT_NM AS LOCATION_NM
							,CL.LOC_NM AS LOCATION_DETAIL
							,CL.PLANT
						FROM
							ITSM.CIM_CI_MST CCM
							JOIN ITSM.CIM_LOCATION CL ON CCM.LOCATION = CL.LOCATION AND CL.STATUS = 'Y' AND CCM.COM_CD = 'T100'
						WHERE
							<!-- 장비구분 : 정보팀 NT, 정보팀 LINUX, 스토리지, 인프라NT, 인프라 LINUX -->
					 		CCM.CI_ITEM IN ('VANT','VAUX','TS10','VNNT','VNUX')
							<!-- 장소 : 본사, 구미 -->
							AND SUBSTR(CCM.LOCATION , 0, 1) IN ('S','G', 'K')
							<!-- 운용상태 : 지급사용, 대여사용, 보관, 폐기대상 -->
							AND CCM.OPR_GBN IN ('A01' ,'A02','B01','C01')
							AND CCM.CI_FIRST_CHAR <![CDATA[ <> ]]> '*'
							<!-- VM San Switch 추가, AIX Backup Switch 추가 -->
							OR CCM.CI_NO IN ('XTAK201312010' ,'XTAK201312011','XTAK201312107','XTAK201312108', 'XTCK201003003', 'XTCK201003004')
					) T1
				) T1
			group by
				PLANT
		) T1
	</select>

	<select id="getServerChartAll" parameterType="com.doms.api.dto.ServerSearch" resultType="int">
		SELECT
			to_char (CCM.INS_DATE , 'yyyymm') AS "DATE"
		FROM
			ITSM.CIM_CI_MST CCM
			JOIN ITSM.CIM_LOCATION CL ON CCM.LOCATION = CL.LOCATION AND CL.STATUS = 'Y' AND CCM.COM_CD = 'T100'
		WHERE
			CCM.CI_FIRST_CHAR <![CDATA[ <> ]]> '*'
	 		AND (CCM.CI_ITEM IN ('VANT','VAUX','TS10','VNNT','VNUX') OR CCM.CI_NO IN ('XTAK201312010' ,'XTAK201312011','XTAK201312107','XTAK201312108', 'XTCK201003003', 'XTCK201003004'))
			AND SUBSTR(CCM.LOCATION , 0, 1) IN ('S','G')
			<choose>
				<when test='plant != null'>
					AND CL.PLANT like #{plant} || '%'
				</when>
			</choose>

		ORDER BY
			"DATE"
	</select>

	<select id="getServerChartDel" parameterType="com.doms.api.dto.ServerSearch" resultType="int">
		SELECT
			CASE
				WHEN CCM.SCRAP_DATE IS NULL THEN '200000'
				WHEN LENGTH(CCM.SCRAP_DATE) <![CDATA[ < ]]> 6 THEN '200000'
				ELSE SUBSTR(CCM.SCRAP_DATE, 0, 6)
			END AS "DATE"
		FROM
			ITSM.CIM_CI_MST CCM
			JOIN ITSM.CIM_LOCATION CL ON CCM.LOCATION = CL.LOCATION AND CL.STATUS = 'Y' AND CCM.COM_CD = 'T100'
		WHERE
	 		CCM.CI_ITEM IN ('VANT','VAUX','TS10','VNNT','VNUX')
			AND SUBSTR(CCM.LOCATION , 0, 1) IN ('S','G')
			AND CCM.OPR_GBN LIKE 'D%'
			AND CCM.CI_FIRST_CHAR <![CDATA[ <> ]]> '*'
			<choose>
				<when test='plant != null'>
					AND PLANT like #{plant} || '%'
				</when>
			</choose>
		ORDER BY
			"DATE"
	</select>

</mapper>